/* .modal.right.fade .modal-dialog {
    right: -480px;
    box-shadow: none;
            width: 400px;
}
.modal-backdrop.show {
     opacity: 0; 
}
*/
 
.connModal .modal-dialog{
    margin-top: 42px;
    margin-right: 0px;
    
}
.connModal .modal-content{
    border-radius: 4px;
    width:53%;
    margin-left: 204px;
    align-items: center;
}
/*
.metamaskWallet{
    display: inline;
    width:160px;
    height: 60px;
}
.coinbaseWallet{
    display: inline;
    width:160px;
    height: 60px;
}
.walletImage{
    height: 40px;
    width: 40px;
}
.wallet{
    height: 100px;
    width: 120px;
   
}
.allWallets{
    width: 250px;
    height: 200px;
    display: flex;
}
link{
    text-decoration: none;
}
.connectWalletFooter{
    align-items: center;
    padding-right: 100px;
} */