.modal.right.fade .modal-dialog {
    right: -480px;
    box-shadow: none;
            width: 400px;
}
.modal-backdrop.show {
     opacity: 0; 
}

.modal-content{
    margin-left: 250px;
    margin-top: 64px;
}
.metamaskWallet{
    display: inline;
    width:160px;
    height: 60px;
}
.coinbaseWallet{
    display: inline;
    width:160px;
    height: 60px;
}
.walletImage{
    height: 40px;
    width: 40px;
}
.wallet{
    height: 100px;
    width: 120px;
   
}
.allWallets{
    width: 250px;
    height: 200px;
    display: flex;
}
link{
    text-decoration: none;
}
.connectWalletFooter{
    align-items: center;
    padding-right: 100px;
}