.MenuPanel{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-shrink: 1;
    box-shadow: rgb(0 0 0 / 5%) 2px 0px 3px;
}
.txt{
    margin-top: 34px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    height: 24px;
    margin-left: 24px;
    color: rgb(99, 115, 129);
    font-size: 15px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 400;
}
.button{
    display: flex;
-moz-box-align: center;
align-items: center;
height: 40px;
width: 100%;
border-radius: 0px;
text-align: left;
font-weight: 600;
}

.iconTxt{
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(33, 43, 54);
}
.link{
    text-decoration: none;
}
.sidebar{
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 5%) 0px 2px 3px;
}
.sidediv{
    height: 100%;
    z-index: 3;
    width: 224px;
    box-shadow: rgb(0 0 0 / 6%) 4px 0px 3px;
    position: relative;
    flex-direction: column;
    display: flex;
}
.listmenu{
    padding: 3px 0px;
}